<div id="app">
  <div id="publication-viewer" class="publication-viewer hide-nav-links">
    <div id="luca-splash" class="splash" style="display: none;">
      <div class="background visible" style="background-image: url(images/f887ef83-7608-4fed-a501-7d8076cba7dc.jpg?asset_id=b0c91a96-4c65-4390-b98c-f5c21eccf099&amp;img_etag=%22419b747fc59e7517a884324345765667%22&amp;size=1024); background-position: 50% 50%;"></div>
      <div class="content">
        
        <div class="loading-label">Loading</div>
        <div class="wp-progress-bar">
          <div class="wp-progress-bar-clip">
            <div class="wp-progress-bar-view" style="width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
          <div class="publication-view">
      <div class="wp-swipe-panel-group wp-first-panel-displayed wp-last-panel-displayed">
        <div class="wp-swipe-panel-group-view" style="transform: translate3d(0px, 0px, 0px);">
            <div class="wp-swipe-panel-group-panel article-panel wp-panel-active">
              <div class="article trek-theme sections-article-layout" data-article-type="sections-article">
      <div class="section title-section title-center hidden" data-section-behavior="trek-title" data-layer="1" data-layer-name="over" data-scroll-after-animation="false" style="transform: translate3d(0px, -1298px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-background " style="transform: translate3d(0px, 0px, 0px) scale(1.1, 1.1);">
          <div class="section-background-image" style="background-position: 50% 50%; background-image: url(&quot;https://express.adobe.com/page/DMwF8mSC54wf7/images/f887ef83-7608-4fed-a501-7d8076cba7dc.jpg?asset_id=b0c91a96-4c65-4390-b98c-f5c21eccf099&amp;img_etag=%22419b747fc59e7517a884324345765667%22&amp;size=2563&quot;);" data-alt="" data-decorative="false" data-image-width="779" data-image-height="780"></div>
        </div>

          <div class="title-header">
            <h1 class="title-header-view" style="transform: translate3d(0px, 325px, 0px);">
              <span class="gradient-overlay"></span>
              <span class="title"><span class="auto-size-span" style="display:inline-block;">cypress Seminary</span></span>
              <span class="subtitle"><span class="auto-size-span" style="display:inline-block;">New Testament (Acts-Revelation)</span></span>
            </h1>
          </div>
    
        <div class="navigation-hint down"></div>
      </div>
    </div>
    <div class="section single-column-section  large-content-spacing-top large-content-spacing-bottom hidden" data-section-behavior="trek-single-column" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -784px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-content">
          <div class="section-content-view">
            <div class="content-container">
                          <p class=" ">Hello awesome seminary parents &amp; students! I hope this finds you all doing very well and rested from an incredible summer break. <b>WELCOME</b> to our seminary fall semester! We are so excited for the incredible experiences this semester will bring! Your youth are amazing! Discussing gospel doctrines and principles with them, and hearing their beautiful testimonies is truly a joy! In lieu of a parent's meeting, I have included below all the necessary information and links for this upcoming semester:</p>
                          <ol>
                    <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#get-your-youth-registered-in-april" target="_self" rel="nofollow noreferrer">Registration (due in April every year)</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#parents-students-download-the-seminary-app" target="_self" rel="nofollow noreferrer">Apps to download</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#attendance" target="_self" rel="nofollow noreferrer">Attendance &amp; reading</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#memorization" target="_self" rel="nofollow noreferrer">Doctrinal Mastery scriptures memorization</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#makeup-lessons" target="_self" rel="nofollow noreferrer">Makeup lessons</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#assessment" target="_self" rel="nofollow noreferrer">Learning assessment</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#collier-county" target="_self" rel="nofollow noreferrer">Collier School District Calendar</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#homepage-on-canvas" target="_self" rel="nofollow noreferrer">Class homepage</a>&nbsp;<a href="https://express.adobe.com/page/DMwF8mSC54wf7/#homepage-on-canvas" target="_self" rel="nofollow noreferrer">&amp; Breakfast sign-up</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#temple-nights" target="_self" rel="nofollow noreferrer">Temple nights</a></li>
                                <li class=" "><a href="https://express.adobe.com/page/DMwF8mSC54wf7/#parents-role-in-seminary" target="_self" rel="nofollow noreferrer">Parents role</a></li>
                          </ol>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section single-column-section split-layout image-on-left hidden" data-section-behavior="trek-split-layout" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -1298px, 0px); z-index: 1;">
      <div class="section-view">
            <div class="section-background">
              <div class="section-background-image" role="img" aria-label="Video" style="background-position: 67.0174% 18.7554%; background-image: url(&quot;https://express.adobe.com/page/DMwF8mSC54wf7/images/102e3e47-c538-4744-b6db-0868eeb47e4a.jpg?asset_id=b9347245-4c1d-4e9b-9e15-c2dc5d574c06&amp;img_etag=%225008257639501af6dc5b8e6d1025494e%22&amp;size=2560&quot;);" data-alt="Video" data-decorative="false" data-image-width="2355" data-image-height="1571"></div>
            </div>
        <div class="section-content">
          <div class="section-content-view" style="transform: translate3d(0px, -520px, 0px);">
            <div class="content-container">
                          <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-get-your-youth-registered-by-april" href="#get-your-youth-registered-by-april" aria-label="Copy anchor link" aria-describedby="page-content-get-your-youth-registered-by-april-heading-text" style=""></a><span id="page-content-get-your-youth-registered-by-april-heading-text" class="heading-text">Get Your youth registered by april!</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.churchofjesuschrist.org/si/seminary/about/seminary-registration-landing?lang=eng" rel="nofollow noreferrer" target="_blank">Seminary Registration Information</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://content.ldschurch.org/si/bc/si/seminary/pdf/seminary_registration_form.pdf" rel="nofollow noreferrer" target="_blank">Registration Form (PDF)</a>
                  </div>
                              <div class="link-button-wrapper link-left">
                    <div class="embedded-link-wrapper widescreen-aspect-ratio">
                      <iframe class="link-button " src="https://youtube.com/embed/9fn0KVCXuhg?enablejsapi=1" frameborder="0" data-href="https://youtu.be/9fn0KVCXuhg"></iframe>
                    </div>
                  </div>
                                <p class=" ">In person start date &amp; time = <b>Mon. Aug. 14th, 23 @ 5:40 to 6:40 AM</b></p>
                                <p class=" ">In-person seminary class location = <a href="https://www.google.com/maps/place/2590+Northbrooke+Plaza+Dr,+Naples,+FL+34119/@26.273881,-81.7430383,17z/data=!3m1!4b1!4m5!3m4!1s0x88db1c78ce415173:0x2531edfd4970f4d1!8m2!3d26.2738762!4d-81.7408496" target="_blank" rel="nofollow noreferrer">2590 Northbrooke Plaza Drive, Suite 108, Naples, FL 34119.</a></p>
                                <p class=" ">Here are the different classes available for all:</p>
                          <ul>
                    <li class=" "><b>Sister</b> <b>Gilmore &amp; Sister Goudy</b>&nbsp;– In-person/online hybrid (M-TH, 5:40 - 6:40 a.m.)</li>
                                <li class=" "><b>Brother Hatch</b> – Virtual (Zoom M-F, 5:40 - 6:30 a.m.)</li>
                                <li class=" "><b>Sister Brown</b> – Online (4 days on Canvas and 1 day on Zoom, TH. 7:30 - 8:20 p.m.)</li>
                          </ul>
                  <div class="link-button-wrapper link-left">
                    <div class="embedded-link-wrapper widescreen-aspect-ratio">
                      <iframe class="link-button " src="https://youtube.com/embed/LCd7xcZey4E?enablejsapi=1" frameborder="0" data-href="https://youtu.be/LCd7xcZey4E"></iframe>
                    </div>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-questionnaire" href="#questionnaire" aria-label="Copy anchor link" aria-describedby="page-content-questionnaire-heading-text" style=""></a><span id="page-content-questionnaire-heading-text" class="heading-text">Questionnaire</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://docs.google.com/forms/d/e/1FAIpQLSfMAxE2h-3eHjjJeFgF_JPlAKakawk9N3jCImzCaUqbZ0okuQ/viewform" rel="nofollow noreferrer" target="_blank">New student questionnaire - please fill out!</a>
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section single-column-section  large-content-spacing-top large-content-spacing-bottom hidden" data-section-behavior="trek-single-column" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -1298px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-content">
          <div class="section-content-view" style="transform: translate3d(0px, -1280px, 0px);">
            <div class="content-container">
                          <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-parents-students-set-the-myseminary-webapp-to-your-home-page" href="#parents-students-set-the-myseminary-webapp-to-your-home-page" aria-label="Copy anchor link" aria-describedby="page-content-parents-students-set-the-myseminary-webapp-to-your-home-page-heading-text" style=""></a><span id="page-content-parents-students-set-the-myseminary-webapp-to-your-home-page-heading-text" class="heading-text">parents &amp; students set the 'myseminary' webapp to your home page!</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://myseminary.churchofjesuschrist.org/" rel="nofollow noreferrer" target="_blank">My Seminary Web App</a>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-parents-students-download-the-doctrinal-mastery-app" href="#parents-students-download-the-doctrinal-mastery-app" aria-label="Copy anchor link" aria-describedby="page-content-parents-students-download-the-doctrinal-mastery-app-heading-text" style=""></a><span id="page-content-parents-students-download-the-doctrinal-mastery-app-heading-text" class="heading-text">parents &amp; students Download the doctrinal mastery app!</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://apps.apple.com/us/app/doctrinal-mastery/id413341700" rel="nofollow noreferrer" target="_blank">Doctrinal Mastery App - iPhone</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://play.google.com/store/apps/details?id=org.lds.sm&amp;hl=en_US&amp;gl=US&amp;pli=1" rel="nofollow noreferrer" target="_blank">Doctrinal Mastery App - Android</a>
                  </div>
                            <figure class="image" role="group">
                  <div class="image-wrapper">
                    <a href="images/a80847bc-5fce-4ecd-9fcd-39a466daa3b3.png?asset_id=d79aba31-b72c-476d-980a-e5e008eaf450&amp;img_etag=%224dddace7a4e01ce31e7c1faa19ea2435%22&amp;size=1024" class="image-viewer-link" target="_blank" rel="nofollow noreferrer" aria-label="Large preview">
                      <img src="images/a80847bc-5fce-4ecd-9fcd-39a466daa3b3.png?asset_id=d79aba31-b72c-476d-980a-e5e008eaf450&amp;img_etag=%224dddace7a4e01ce31e7c1faa19ea2435%22&amp;size=1024" data-alt="" data-decorative="false" data-image-width="1200" data-image-height="600">
                    </a>
                  </div>
                  <figcaption class="caption">Set the parameters on the app for the New Testament doctrinal mastery scriptures from John 17:3 to the end for this semester.</figcaption>
                </figure>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-parents-download-the-remind-app" href="#parents-download-the-remind-app" aria-label="Copy anchor link" aria-describedby="page-content-parents-download-the-remind-app-heading-text" style=""></a><span id="page-content-parents-download-the-remind-app-heading-text" class="heading-text">Parents Download the remind app!</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://apps.apple.com/us/app/remind-school-communication/id522826277" rel="nofollow noreferrer" target="_blank">Remind App - iPhone</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://play.google.com/store/apps/details?id=com.remind101&amp;gl=US" rel="nofollow noreferrer" target="_blank">Remind App - Android</a>
                  </div>
                            <figure class="image" role="group">
                  <div class="image-wrapper">
                    <a href="images/f96a9d45-904a-4f43-8aa5-e3beeae9ce7b.png?asset_id=a271a1d5-6d5b-4f02-bce6-b67ddbba1d43&amp;img_etag=%22fac1072a084028ec7d3b79dbdbe160a1%22&amp;size=1024" class="image-viewer-link" target="_blank" rel="nofollow noreferrer" aria-label="Large preview">
                      <img src="images/f96a9d45-904a-4f43-8aa5-e3beeae9ce7b.png?asset_id=a271a1d5-6d5b-4f02-bce6-b67ddbba1d43&amp;img_etag=%22fac1072a084028ec7d3b79dbdbe160a1%22&amp;size=1024" data-alt="" data-decorative="false" data-image-width="999" data-image-height="524">
                    </a>
                  </div>
                  <figcaption class="caption">Parents, join our seminary class for daily inspiration from your youth by clicking here:&nbsp;<a href="https://www.remind.com/join/naplesse" target="_blank" rel="nofollow noreferrer">Naples Class</a></figcaption>
                </figure>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-students-download-the-canvas-app" href="#students-download-the-canvas-app" aria-label="Copy anchor link" aria-describedby="page-content-students-download-the-canvas-app-heading-text"></a><span id="page-content-students-download-the-canvas-app-heading-text" class="heading-text">Students download the canvas app!</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://apps.apple.com/us/app/canvas-student/id480883488" rel="nofollow noreferrer" target="_blank">Student Canvas App - iPhone</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://play.google.com/store/apps/details?id=com.instructure.candroid&amp;gl=US" rel="nofollow noreferrer" target="_blank">Student Canvas App - Android</a>
                  </div>
                            <figure class="image" role="group">
                  <div class="image-wrapper">
                    <a href="images/d7b3a303-d76d-4ad7-9d09-1dbc62831bd2.png?asset_id=c970ef0f-05bc-40d7-ae7f-d267ff4356bc&amp;img_etag=%22e084de92b0b9309f61b9166fe923e189%22&amp;size=1024" class="image-viewer-link" target="_blank" rel="nofollow noreferrer" aria-label="Large preview">
                      <img src="images/d7b3a303-d76d-4ad7-9d09-1dbc62831bd2.png?asset_id=c970ef0f-05bc-40d7-ae7f-d267ff4356bc&amp;img_etag=%22e084de92b0b9309f61b9166fe923e189%22&amp;size=1024" data-alt="" data-decorative="false" data-image-width="512" data-image-height="250">
                    </a>
                  </div>
                  <figcaption class="caption">Students use their LDS login information to sign in on their computer and use QR code to connect to mobile app.</figcaption>
                </figure>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section single-column-section split-layout image-on-right hidden" data-section-behavior="trek-split-layout" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -1298px, 0px); z-index: 1;">
      <div class="section-view">
            <div class="section-background">
              <div class="section-background-image" style="background-position: 47.3594% 47.106%; background-image: url(&quot;https://express.adobe.com/page/DMwF8mSC54wf7/images/6cac53a2-a4ee-463e-859a-56da1ffa97c7.jpg?asset_id=7455cf20-03b8-421b-8940-211cd8f8b4ef&amp;img_etag=%2214235ba1bac2d2ff46ceab79ae6cb9af%22&amp;size=2560&quot;);" data-alt="" data-decorative="false" data-image-width="2560" data-image-height="1720"></div>
            </div>
        <div class="section-content">
          <div class="section-content-view" style="transform: translate3d(0px, -1482px, 0px);">
            <div class="content-container">
                          <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-attendance" href="#attendance" aria-label="Copy anchor link" aria-describedby="page-content-attendance-heading-text"></a><span id="page-content-attendance-heading-text" class="heading-text">Attendance</span></span></h3>
                                <p class=" ">At least <b>75% needed to receive credit</b>. It is also really important that your youth are on time for lessons every day. If late, minutes will be added up until 50 and youth will need to do a makeup lesson for those. They also need to stay above 75% all semester and are able to do makeup lessons as needed.</p>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-makeup-lessons" href="#makeup-lessons" aria-label="Copy anchor link" aria-describedby="page-content-makeup-lessons-heading-text"></a><span id="page-content-makeup-lessons-heading-text" class="heading-text">Makeup lessons</span></span></h3>
                                <p class=" ">Here are their options for makeup lessons:</p>
                          <ul>
                    <li class=" "><a href="https://silearn.churchofjesuschrist.org/courses/85374" target="_blank" rel="nofollow noreferrer"><b>Canvas Student</b></a> (30 minutes per lesson online)</li>
                                <li class=" "><a href="https://www.churchofjesuschrist.org/study/manual/new-testament-seminary-student-manual-2023?lang=eng" target="_blank" rel="nofollow noreferrer"><b>Home Study Manual</b></a> (30 minutes per lesson with notes turned in)</li>
                                <li class=" "><a href="https://www.churchofjesuschrist.org/study/general-conference?lang=eng" target="_blank" rel="nofollow noreferrer"><b>General Conference</b></a> (1 seminary day for each session watched and notes turned in)</li>
                          </ul>
                    <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-reading" href="#reading" aria-label="Copy anchor link" aria-describedby="page-content-reading-heading-text"></a><span id="page-content-reading-heading-text" class="heading-text">Reading</span></span></h3>
                                <p class=" ">Here are the required reading passages for this semester (we will no longer track daily reading although we invite all students to continue their daily reading):</p>
                          <ul>
                    <li class=" "><b>Acts 1-12</b></li>
                                <li class=" "><b>Romans 8</b></li>
                                <li class=" "><b>1 Corinthians 13</b></li>
                                <li class=" "><b>Hebrews 11</b></li>
                                <li class=" "><b>2 Timothy 3</b></li>
                          </ul>
                    <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-memorization" href="#memorization" aria-label="Copy anchor link" aria-describedby="page-content-memorization-heading-text"></a><span id="page-content-memorization-heading-text" class="heading-text">memorization</span></span></h3>
                                <p class=" ">It is super important that your youth memorize the key phrases and references for the doctrinal mastery scriptures. Please, encourage them to do it and memorize with them. This semester we will go from John 17:3 to the end. Some resources would be the app (above) and the below:</p>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://drive.google.com/file/d/1Ed1tG6FCzSqQsIsu5qhgj8DmjrWnyCCK/view?usp=sharing" rel="nofollow noreferrer" target="_blank">All in one page passages</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://drive.google.com/file/d/1ulzwWpoy1U8zbzTPFZ0D7qHrQks-gEgD/view?usp=sharing" rel="nofollow noreferrer" target="_blank">Flashcards</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://drive.google.com/file/d/153viEXpy2Tq9rh2wAfWoiUui2_RU2RdV/view?usp=sharing" rel="nofollow noreferrer" target="_blank">Flashcard activities</a>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-daily-impact" href="#daily-impact" aria-label="Copy anchor link" aria-describedby="page-content-daily-impact-heading-text"></a><span id="page-content-daily-impact-heading-text" class="heading-text">Daily Impact</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://docs.google.com/forms/d/e/1FAIpQLSdduzeoV15l0fD1cZicNsh5ucENkxI4GEmPqRUtPbB1DpW23g/viewform" rel="nofollow noreferrer" target="_blank">Most Impactful</a>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-assessment" href="#assessment" aria-label="Copy anchor link" aria-describedby="page-content-assessment-heading-text" style=""></a><span id="page-content-assessment-heading-text" class="heading-text">assessment</span></span></h3>
                                <p class=" ">Date = <b>Dec. 14th, 2023 @ 5:40 AM. </b>The assessment will now be a group review. Attendance is required for a grade. If you cannot make it to class you can do the assessment makeup on Canvas.</p>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.churchofjesuschrist.org/study/manual/new-testament-seminary-teacher-manual-2023/doctrinal-mastery-assessment-review-2?lang=eng" rel="nofollow noreferrer" target="_blank">Doctrinal Mastery: Assessment Review</a>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-collier-county" href="#collier-county" aria-label="Copy anchor link" aria-describedby="page-content-collier-county-heading-text"></a><span id="page-content-collier-county-heading-text" class="heading-text">Collier county</span></span></h3>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.collierschools.com/Page/17037" rel="nofollow noreferrer" target="_blank">School Calendar 2023-2024</a>
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section single-column-section  large-content-spacing-top large-content-spacing-bottom hidden" data-section-behavior="trek-single-column" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -1298px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-content">
          <div class="section-content-view" style="transform: translate3d(0px, -1038px, 0px);">
            <div class="content-container">
                          <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-homepage-on-canvas" href="#homepage-on-canvas" aria-label="Copy anchor link" aria-describedby="page-content-homepage-on-canvas-heading-text"></a><span id="page-content-homepage-on-canvas-heading-text" class="heading-text">homepage on canvas</span></span></h3>
                                <p class=" text-center">Please encourage your youth to visit our homepage on canvas often. It is always updated with devotional assignments, daily reading assignment, makeup lessons, in addition to a vast amount of resources!</p>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://express.adobe.com/page/AiPkfCOoUfXc2/" rel="nofollow noreferrer" target="_blank">Sis. Gilmore's Homepage</a>
                  </div>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.mealtrain.com/trains/81w048?rf=1" rel="nofollow noreferrer" target="_blank">Breakfast Sign-up Form</a>
                  </div>
                            <div class="image">
                  <div class="image-wrapper">
                    <a href="images/eee28bee-d564-4acb-9b89-89435618fe38.png?asset_id=c501ac32-8cf0-4a83-bb68-d26e5ba18a25&amp;img_etag=%2233dbe89a19ba0c95157b3c41c26e5d0e%22&amp;size=1024" class="image-viewer-link" target="_blank" rel="nofollow noreferrer" aria-label="Large preview">
                      <img src="images/eee28bee-d564-4acb-9b89-89435618fe38.png?asset_id=c501ac32-8cf0-4a83-bb68-d26e5ba18a25&amp;img_etag=%2233dbe89a19ba0c95157b3c41c26e5d0e%22&amp;size=1024" data-alt="" data-decorative="false" data-image-width="1604" data-image-height="2340">
                    </a>
                  </div>
                </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-parents-role-in-seminary" href="#parents-role-in-seminary" aria-label="Copy anchor link" aria-describedby="page-content-parents-role-in-seminary-heading-text"></a><span id="page-content-parents-role-in-seminary-heading-text" class="heading-text">Parent's role in seminary</span></span></h3>
                                <p class=" ">Parents have the primary responsibility to teach their children the gospel of Jesus Christ; and to answer their doctrinal questions. Church leaders assist parents in this responsibility. Seminary teachers primarily assist parents by teaching students the gospel of Jesus Christ as found in the scriptures and the words of the prophets, emphasizing the doctrinal importance of the family and the high priority that family members and family activities deserve.</p>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.churchofjesuschrist.org/si/seminary/about/parents-role?lang=eng" rel="nofollow noreferrer" target="_blank">Success in seminary</a>
                  </div>
                                <h3 class=" text-center"><span class="heading-content-wrapper"><a class="page-heading-anchor" title="Copy anchor link" id="page-content-temple-nights" href="#temple-nights" aria-label="Copy anchor link" aria-describedby="page-content-temple-nights-heading-text"></a><span id="page-content-temple-nights-heading-text" class="heading-text">Temple nights</span></span></h3>
                                <p class=" ">Please, join us every 2nd and 4th Fridays of the month at 6:30 PM for baptisms at the <a href="https://maps.apple.com/place?auid=5172527342732091359&amp;lsp=9902" target="_blank" rel="nofollow noreferrer">Ft. Lauderdale Temple</a>&nbsp;and <a href="https://maps.apple.com/place?q=Mission%20BBQ&amp;ll=26.0658588%2C-80.3616396&amp;auid=13261628314849919559&amp;lsp=9902&amp;address=4412%20Weston%20Rd%2C%20Davie%2C%20FL%20%2033331%2C%20United%20States" target="_blank" rel="nofollow noreferrer">dinner</a> afterwards. We would love to have you and your family there with us!</p>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://www.churchofjesuschrist.org/temples/prayer-roll?lang=eng" rel="nofollow noreferrer" target="_blank">Prayer roll</a>
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section single-column-section split-layout image-on-right visible" data-section-behavior="trek-split-layout" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, -489px, 0px); z-index: 1;">
      <div class="section-view">
            <div class="section-background">
              <div class="section-background-image" style="background-position: 49.6033% 59.3903%; background-image: url(&quot;https://express.adobe.com/page/DMwF8mSC54wf7/images/76cedbe0-78ec-4fcd-bf1c-91224a89353a.jpg?asset_id=0a99c5de-4e10-446b-af6b-1be2ffa70438&amp;img_etag=%2261a2acfd253c7e016d32dce72b95da02%22&amp;size=3840&quot;);" data-alt="" data-decorative="false" data-image-width="2016" data-image-height="3024"></div>
            </div>
        <div class="section-content">
          <div class="section-content-view">
            <div class="content-container">
                          <blockquote class=" ">"I am always here for you and your youth! I really appreciate your input as we work to make seminary more effective in teaching the youth to understand and rely upon the teachings and Atonement of Jesus Christ, qualify for the blessings of the temple, and prepare themselves, their families, and others for eternal life with their Father in Heaven. Thank you so much for all you do for your youth and the seminary program."</blockquote>
                              <div class="link-button-wrapper link-center">
                    <a class="link-button " href="https://express.adobe.com/page/0HED585LdoSB3/" rel="nofollow noreferrer" target="_blank">Introducing Sis. Gilmore</a>
                  </div>
                                <p class=" text-center">Sis. Gilmore | (707) 206-8177 gilmorelds@gmail.com</p>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section author-section visible" data-section-behavior="trek-author" data-layer-name="over" style="transform: translate3d(0px, 809px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-content">
          <div class="section-content-view">
            <div class="content-container">
              <div class="author-appreciation-container">
                <div class="author">
                  <div class="avatar" style="background-image:url(avatar.jpg?size=200&amp;img_etag=9344047e3c7ddc266296420c85cb84bf);"></div>
                  <div class="info">
                    <div class="label created-by-label">Created By</div>
                    <div class="name">Debora Gilmore</div>
                  </div>
                </div>
                <a href="https://express.adobe.com/page/DMwF8mSC54wf7" class="button appreciate-button" target="_blank">Appreciate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section credits-section visible" data-section-behavior="trek-credits" data-layer="0" data-layer-name="over" style="transform: translate3d(0px, 1048px, 0px); z-index: 1;">
      <div class="section-view">
        <div class="section-content">
          <div class="section-content-view">
            <div class="content-container">
              <div class="photo-credits">
                <p class="credits-label">Credits:</p>
                <p>Created with images by Rawpixel.com - "Register Now E-learning Education Website Concept" • Елена Дигилевич - "On the desktop are blue and light blue graphs and diagrams, a brown notebook and a sheet of paper with blue clips and ATTENDANCE REPORT text. View from above. Business concept"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--BUMPER-SECTION-TOP-LEVEL-START-->
    
    <!--BUMPER-SECTION-TOP-LEVEL-END-->
<div class="section bumper-section un-branded-bumper-section visible" data-layer-name="under" data-layer="-1" style="transform: translate3d(0px, 1232px, 0px); z-index: 0;"><div class="section-view" style="transform: translate3d(0px, 0px, 0px);"><!--FOOTER-START--><div class="footer"><a class="tos" target="_blank" href="http://www.adobe.com/legal/terms.html" rel="nofollow">Terms of Service</a><a class="privacy" target="_blank" href="http://www.adobe.com/go/privacy" rel="nofollow">Privacy Policy</a><a class="js-report-abuse" href="#" target="_self" rel="nofollow">Report Abuse</a></div><!--FOOTER-END--></div></div></div>
<div class="wp-scrollbar vertical"><div class="wp-scrollbar-track"><div class="wp-scrollbar-thumb" style="transform: translate3d(0px, 1150px, 0px); height: 10%;"></div></div></div></div>
        </div>
      <a href="#" class="wp-swipe-panel-group-next-link" target="_self">Next</a><a href="#" class="wp-swipe-panel-group-previous-link" target="_self">Previous</a></div>
    </div>
    <a href="#" class="publication-viewer-next-link" target="_self" style="display: none;"></a> <a href="#" class="publication-viewer-previous-link" target="_self" style="display: none;"></a>
  <div class="toast-container"><p>Anchor link copied.</p></div></div><div class="embedded-link-viewer"><div class="embed-container"></div><button class="close-button">Close</button></div>
</div>