# Python virtual environment
venv/

# Compiled Python files
*.pyc

# IDE files
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# Dependency directories
/lib/
/dist/
node_modules
seminary_sidekick_backend/__pycache__/

